PROJECT_ID=evolyth
BUCKET_NAME=evo-training-data
REGION=us-east4
AR_REPO=app-cloud-runner
SA_EMAIL=app-cloud-runner@evolyth.iam.gserviceaccount.com
GOOGLE_APPLICATION_CREDENTIALS=app-cloud-runner-key.json
ANTHROPIC_API_KEY=

